extends layout

block content
  div.well
    h1 About the Engage node.js LDC Via Demo
    p
      | This demo is a simple node.js application, using Express and Jade, to render a simple person directory as part of our presentation on building applications with LDC Via. You can download the presentation, and more, from our 
      a(href="http://ldcvia.com/downloads.html") resources page
      
    P
      | This application uses 
      a(href="http://ldcvia.com") LDC Via
      |  as a back-end.
    p
      | Come and  
      a(href="mailto:info@ldcvia.com?subject=Engage%20demo%20enquiry") talk to us
      |  if you want to know more!
