extends layout

block content
  div.well
    h1 About this LDC Via Demo
    p
      | This demo is a node.js application, using Express and Jade, to render a simple person directory, used as part of presentations and a webinar on building applications with LDC Via. Some download resources:
    ul
      li
        a(href="http://ldcvia.com/downloads.html") Presentations &amp; downloads
      li
        a(href="http://ldcvia.com/webinar.html") LDC Via Webinars
      li
        a(href="https://github.com/LDCVia/ldc-via-node-demo") node.js demo on GitHub
      
    p
      a(href="mailto:info@ldcvia.com?subject=Demo%20code%20enquiry") Drop us a line
      |  if you want to know more.
